<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
    <!-- 拦截器 在 withAop() 方法前运行 -->
<bean id="aopMethodBeforeInterceptor"
class="org.springframework.aop.support.NameMatchMethodPointcutAdvisor">
  <property name="advice">
  <bean
class="aop.MethodBeforeInterceptor" />
  </property>
  <property name="mappedName" value="withAop"></property>
</bean>
    <!-- 拦截器 在 withAop() 返回后运行 -->
<bean id="aopMethodAfterInterceptor"
class="org.springframework.aop.support.NameMatchMethodPointcutAdvisor">
   <property name="advice">
   <bean
class="aop.MethodAfterInterceptor" />
   </property>
   <property name="mappedName" value="withAop"></property>
</bean>
    <!-- 拦截器 在异常抛出后运行 -->
<bean id="aopThrowsInterceptor"
class="org.springframework.aop.support.NameMatchMethodPointcutAdvisor">
  <property name="advice">
  <bean
class="aop.ThrowsInterceptor" />
  </property>
  <property name="mappedName" value="withAop"></property>
</bean>
    <!-- Service对象，被安装到 ProxyFactoryBean对象中-->
<bean id="aopService"
   class="org.springframework.aop.framework.ProxyFactoryBean">
   <!-- 拦截器 -->
     <property name="interceptorNames">
       <list>
         <value>aopMethodBeforeInterceptor</value>
         <value>aopMethodAfterInterceptor</value>
         <value>aopThrowsInterceptor</value>
       </list>
     </property>
   <!-- 被拦截的对象 -->
     <property name="target">
      <bean class="aop.AopServiceImpl">
       <!--<property name="name" value=""></property>-->
        <property name="name" value="软工15"></property>
      </bean>
     </property>
</bean>
    

</beans>